<%- include('../partials/header') %>

<body>
    <table class="table">
        <thead>
          <tr class="row">
            <th scope="col">#</th>
            <th scope="col">Airline</th>
            <th scope="col">Airport</th>
            <th scope="col">Flight No.</th>
            <th scope="col">Departs</th>
          </tr>
        </thead>
        <tbody>
          <% flights.forEach((flight, index) => { %>
            <tr calss="row"> 
              <th scope="row"><%= index + 1 %></th>
              <td><%= flight.airline %></td>
              <td><%= flight.airport %></td>
              <td><%= flight.flightNo %></td>
              <td><%= flight.departs %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    
      <%- include('../partials/footer') %>
